@using Billing.Sales.FrontEnd.Shared
@using Microsoft.AspNetCore.Routing

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Página no encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>